form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ffffff;
  border-radius: 1em;
  background-color: #125314;
}

.telalogin {
  color: #c8c4c4;
}

a {
  color: rgb(13, 66, 144);
}
